.header{
  height: 55px; 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  border-bottom-width:1px ;
  border-bottom-style:solid ;
  border-bottom-color: rgb(202, 200, 200);
  z-index: 100;
}
.left-section{
  display: flex;
  align-items: center;
}
.hamburger{
  height: 24px;
  margin-left: 24px;
  margin-right:24px;
}
.logo{
  height: 20px;
}
.middle-section{
  margin-left:70px;
  margin-right:35px;
  flex:1;
  max-width:500px;
  display:flex;
  align-items: center;
}
.search-bar{
  flex:1;
  height: 36px;
  padding-left: 10px;
  font-size: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(199, 198, 198);
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0,0,0,0.05);
  width:0px;
}
.search-bar::placeholder{
  font-family: Roboto, Arial;
  font-size:16px;
}
.search-button{
  height: 40px;
  width: 66px;
  background-color: rgb(240,240,240);
  border: 1px;
  border-style: solid;
  border-color:rgb(199, 198, 198);
  margin-left: -1px;
  margin-right: 10px;
}
.search-button,
.voice-button,
.upload-container,
.apps-container,
.notifications-container{
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
}
.search-button .tooltip,
.voice-button .tooltip, 
.upload-container .tooltip,
.apps-container .tooltip,
.notifications-container .tooltip
{
  font-family: Roboto,Arial;
  position: absolute;
  background-color:gray;
  color: white;
  padding-bottom: 4px;
  padding-top: 4px ;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 2px;
  font-size: 12px;
  bottom: -30px;
  opacity: 0;
  transition: opcaity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}
.search-button:hover .tooltip,
.voice-button:hover .tooltip,
.upload-container:hover .tooltip,
.apps-container:hover .tooltip,
.notifications-container:hover .tooltip
{
  opacity: 1;
}
.search-icon{
  height: 25px;
  margin-top: 4px;
}
.voice-button{
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background-color:rgb(241, 241, 241) ;
  border: none;
}
.voice-icon{
  height: 25px;
}
.right-section{
  width: 180px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}
.upload{
  height: 25px;
}
.apps{
  height: 25px;
}

.notifs-count{
  position:absolute ;
  top: -2px;
  right: -2px;
  background-color: rgb(218, 4, 4);
  color: white;
  font-family:Roboto,Arial ;
  font-size: 10px;
  padding-bottom: 2px;
  padding-top: 2px;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 50px;
}
.notifs{
  height: 25px;
}
.current-user{
  height: 32px;
  border: none;
  border-radius: 16px;
}
